/* General CSS */


body{
    background-color: #f5f5f5;
    overflow-x: hidden;
}

p{
    font-weight: 300;
}

li{
    list-style-type: "-";
    font-weight: 300;
}

.btn{
    background-color: #0073CF;
    border-color: #0073CF;
}

.btn:hover{
    background: none !important;
    border-color: #0073CF;
    border-width: 3px;
    transform: translateY(-2px);
}

.btn.active{ 
    background-color: #0073CF;
}

.btnAlt:hover{
    color: #0073CF !important;
}

.scrollbtn{
    width: 30%;
    margin: 1em;
}

.scrollbtn:hover{
    color: #0073CF;
}

.scrollbtnWrapper{
    margin-bottom: 1em;
}




.align-right{
    text-align: end;
}

.testcontainer{
    height: 500px;
}

.App{
    background-image: url("./assets/images/background-resize.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
    image-rendering: optimizeSpeed;
    max-width: 100%;
}




/*Home top content*/

.videoPlayer{
    width: 100vw;
    height: 120vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    filter: grayscale(20%);
    -webkit-filter: grayscale(20%);
    overflow: hidden;
    
}

.homeContent{
    margin-top: 10vh;
    color: #fff;
}

.homeContent p{
    font-size: 1.5rem;
    color: #E1D9D1;
}

.homeContent h1{
    line-height: 1.5;
}



/*Home lower content*/

.homeBottom{
    margin-top: 25%;
    color: #fff;
    background-color: #24292d;
    border-top: #24292d;
    border-width: 60px;
    border-color: linear-gradient(0deg, rgba(32,36,44,.98) 13%, rgba(27,39,43,.93) 22%, rgba(13,14,21,.7) 30%  );
    box-shadow: 0 -150px 50px 5px #24292d,
                0 -150px 50px 0 rgba(32,36,44,.98), 
                0 -150px 50px 0 rgba(27,39,43,.93),
                0 -150px 50px 0 rgba(13,14,21,.7),
                0 -150px 50px 0 rgba(0,0,0,.47);
}

.carouselWrapper{
    padding: 0 0 50px 0;
}


.HR{
    background-color: #fff;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    
}

   
/*Above this screen size*/


    

/*Below this screen size*/

    @media (max-width:758px) {
        .videoPlayer{
            top: 0;
        }


        .homeContent h3{
            font-size: 30px;
        }

        .homeContent p{
            font-size: 17px;
        }

        .scrollbtn{
            width: 40%;
            margin: .1em;
        }

        .hide-on-mobile{
            display: none;
        }
        .oneStageImg{
            height: 100% !important;
        }
    }

    @media (min-width:758px) {
        .hide-on-desktop{
            display: none;
        }

       
    }

    @media (max-width:300px) {
        .scrollbtn{
            width: 50%;
            margin: 0;
        }
        
    }

    