
.footerWrapper{
    background-color: #24292d;
    color: #fff;
    padding-top: 1.5rem;
    font-size: 1.15em;
}

.footerWrapper .btn{
    margin: 2rem 0 ;
    width: 60%;
}

.socialCol{
    color: #fff;
}

.socialsFooter{
    padding: 0 1rem;   
    font-size: 2rem;
    color: #fff;

}

.socialsFooter:hover{
    color: rgb(0,115,207);
}

.footerInfo{
    margin-bottom: 3vh;
    font-weight: 100;
}
.footerInfo p{
    padding: 0;
    margin: 0;
}

