.contactForm input, textarea, select {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fff;
    display: block;
    font: 16px Arial,Helvetica,sans-serif;
    height: 45px;
    margin-bottom: 10px;
    outline: none;
    padding: 7px;
    width: 100%;
}

select{
    background-color: #24292d;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}