.lineup-nav{
    padding-top: 8px !important;
}

.offcanvas-header{
    padding: 8px 0 !important;
    
}

.Offcanvas-background{
    height: 100% !important;
    width: 100% !important;
    background: none !important;
}

.offcanvas-body{
    padding-top: 0;
}


@supports (backdrop-filter: blur(.1em)) {
    .Navbar-Offcanvas-Blur{
        background: rgba(255, 255, 255, 0.795);
        backdrop-filter: blur(.5em);
    }
    .navbar{
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(.1em);
    }
}



.navbars-icon{
    border-color: #fff;
    border-radius: 10%;
    border-style: solid;
    background: none; 
    font-size: 2.5rem;
    position: absolute;
    color: #0073CF;
}

.navbars-icon:hover{
    color: rgb(0,115,207,.2);
    border-color: rgba(255, 255, 255, 0.2);
}

.navx-icon{
    border: none;
    background: none; 
    font-size: 2.8rem;
    position: absolute;
    color: #0073CF;
}

.navx-icon:hover{
    color: rgb(0,115,207,.2);
}

.brandNavLogo{
    width: 24.977rem;
    height: 12.875rem;
}

.brandLogoInside{
    display: flex;
    justify-content: center !important;
}

.socialsOffcanvas{
    color: #333;
}

.socialsOffcanvas:hover{
    color: white;
}

.navOptions{
    font-size: 2rem;
    font-weight: 600;
    margin: 0 25%;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}



.nav-item, .nav-link, .dropdown-item{
    color: #24292d;
}

.nav-item:hover, .nav-link:hover, .nav-link.active{
    color: #fff !important;
}

.dropdown-item:hover, .dropdown-item.active{
    background: none;
    color: #fff;
}

.dropdown-menu{
    background: none;
    font-size: 1.8rem;
    border: none;
}



@media (max-width:768px) {
    .navOptions{
        margin: 0;
    }
    .brandNavLogo{
        width: 20rem;
        height: 9.8rem;
    }
    .navOptions{
        font-size: 1.5rem;
    }
    .dropdown-menu{
        font-size: 1.5rem;
    }
    .navbars-icon, .navbars-icon:hover{
        border: none !important;
    }
    .offcanvas-header{
        padding: 0 !important;
        
    }
}